In [1]:
import numpy as np
import pandas as pd
%matplotlib inline

In [2]:
# Set up the data
data = pd.DataFrame()
data['gender'] = ['male'] * 100 + ['female'] * 100
data['height'] = np.append(np.random.normal(69, 8, 100), np.random.normal(64, 5, 100))
data['weight'] = np.append(np.random.normal(195, 25, 100), np.random.normal(166, 15, 100))

In [3]:
data.head()

  gender     height      weight
0   male  65.738728  203.664527
1   male  90.038990  200.982828
2   male  77.717983  166.947467
3   male  80.056924  219.897935
4   male  47.836311  188.551778

In [4]:
data.height.mean()

66.45641006482089

In [5]:
data.height.std()

7.1914789787632465

In [6]:
data.describe()

           height      weight
count  200.000000  200.000000
mean    66.456410  180.130244
std      7.191479   25.521456
min     47.836311  131.186609
25%     61.680061  161.074681
50%     65.704691  175.833292
75%     70.835100  195.783649
max     90.038990  244.422198

In [7]:
data.groupby('gender').describe()

       height                                                                  \
        count      mean       std        min        25%        50%        75%
gender
female  100.0  63.90819  5.146386  50.788066  60.673204  63.966648  67.058941
male    100.0  69.00463  8.022083  47.836311  63.732919  69.810264  73.708278

                  weight                                                 \
              max  count        mean        std         min         25%
gender
female  76.397372  100.0  164.550783  15.153883  134.414717  153.893418
male    90.038990  100.0  195.709705  24.275209  131.186609  177.120438


               50%         75%         max
gender
female  164.842482  174.381943  196.472666
male    195.142309  212.448376  244.422198

In [8]:
data.gender.value_counts()

female    100
male      100
Name: gender, dtype: int64

In [9]:
data.weight.value_counts().head()

141.078113    1
183.799775    1
178.219984    1
158.629612    1
151.442205    1
Name: weight, dtype: int64